body {
    background-color: #fff;
    margin: 0 auto;
  }
  
  header {
    background-color: #084e2b;
    border-bottom: 1px solid #084e2b;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none; /*hyper link 기본 효과 없앰*/
    font-family: 'Oswald', sans-serif;
  }


  .nav a:hover {
    color: #e68224;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 23px auto;
    padding: 0 20px;
    text-align: center;
  }
  
  li {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    width: 350px;
  }

  h3 {
    color: #708b3c;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    width: 100%;
  }

  p {
    color: #708b3c;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    font-weight: 1000;
  }

  /*마우스오버 효과내기*/
  .gallery1 {
    display: flex;
    margin-top: 125px;
    flex-wrap: nowrap;
    position: relative;
    justify-content: center;
    opacity: 0.5;
    transition: opacity 0.5s;
  }

  .gallery1:hover {
    opacity: 1; 
  }


  .gallery2 {
    display: flex;
    margin-top: 60px;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .gallery-item2 img {
    width: auto;
    height: 380px;
  }

  .gallery3 {
    display: flex;
    margin-top: 150px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-item3 img {
    width: 280px;
    height: 230px;
  }

  footer {
  display: flex;
  position: absolute; /*footer 하단 고정*/
  align-items: center;
  background-color: #f8ff95;
  height: 75px;
  width: 100%;
  bottom: 0;
  }

  .em {
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 75px;
  }

  h1 {
    color: #708b3c;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }

